@import "reset.css";
@import "variables.css";


.div-markets{
    width: 250px;
    height: 250px;
    background-color: var(--primary);
}
.div-list{
    width: 250px;
    height: 250px;
    background-color: var(--accent);
}

.hidden{
    display: none;
}